.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4a614b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.2);
  z-index: 1000;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  transition: transform 0.2s ease;
}

.nav-link:hover {
  transform: scale(1.15);
}

.nav-link img.nav-icon {
    width: 28px;
    height: 28px;
    filter: brightness(95%);
    transition: transform 0.2s ease;
}

.nav-link-mail img.nav-icon {
    width: 28px;
    height: 22px;
    filter: brightness(95%);
    transition: transform 0.2s ease;
}

.nav-link img.nav-icon:hover {
    transform: scale(0.9);
}

.notification .dot {
  position: absolute;
  top: 0;
  right: -2px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}
