body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #1c1b1a;
    color: #f1e7cf;
    padding-bottom: 60px;
}

.top-bar {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 15px 25px;
    background-color: #1c1b1a;
}

.logo {
    font-size: 1.5em;
    font-weight: 700;
    color: #e9d7b8;
    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 8px;
}

.search-bar input {
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    width: 260px;
    font-size: 1em;
    outline: none;
}

.search-btn, .filter-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.vacancies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    padding: 25px;
}

.vacancy-card {
    background-color: #a08e75;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.vacancy-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vacancy-header h3 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.like-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.date, .company {
    margin: 6px 0;
    color: #2e2e2e;
}

.tags {
    margin: 8px 0;
}

.tags span {
    display: inline-block;
    background-color: #65715d;
    color: #fff;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 0.9em;
    margin: 3px;
}

.salary {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}

.responses {
    color: #100d0d;
}

.responses span {
    color: #c02f2f;
    font-weight: bold;
}

.apply-btn {
    background-color: #b73a34;
    border: none;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 0.95em;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.apply-btn:hover {
    background-color: #982c28;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #445c45;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
}

.bottom-nav button {
    background: none;
    border: none;
    font-size: 1.6em;
    color: #f1e7cf;
    cursor: pointer;
}
.resume-modal-content {
    background: #fff;
    width: 700px;
    max-width: 95%;
    max-height: 85vh;
    border-radius: 18px;
    color: #000;
    padding: 30px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.2s ease-in-out;
}

.resume-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.resume-modal-body {
    margin-top: 20px;
    overflow-y: auto;
    padding-right: 5px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-item label {
    font-size: 12px;
    color: #777;
}
.description-block {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.description-block p {
    margin-top: 8px;
    background: #f5f5f5;
    padding: 12px;
    border-radius: 10px;
    max-height: 150px;
    overflow-y: auto;
    line-height: 1.5;
    white-space: pre-wrap;
}

.description-block label {
    font-size: 12px;
    color: #777;
}
.modal {
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #1c1b1a;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

#resumeOptions {
    margin: 10px 0;
}
.resume-option {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
}
.resume-option.selected {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
#submitResumeChoice {
    background-color: #a08e75;
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 6px;
}

#submitVacancyChoice {
    background-color: #a08e75;
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 6px;
}
.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.vacancy-btn {
    background-color: #b73a34;
    border: none;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 0.95em;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
}

.vacancy-btn:hover {
    background-color: #982c28;
}