body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #1e1e1e;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Верхняя панель */
.tabs {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.tab {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #3a3a3a;
  color: #fff;
  font-size: 15px;
  transition: all 0.2s;
}

.tab.active {
  background-color: #d7c1a0;
  color: #1e1e1e;
}

/* Контент */
.content {
  text-align: center;
  margin-top: 80px;
  animation: fadeIn 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.content h2 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

.content p {
  color: #bcbcbc;
  margin-bottom: 20px;
}

.btn {
  background-color: #40553a;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #506c49;
}

/* Плавное появление контента */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
