body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

.vacancy-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 8%;
  gap: 50px;
}

.left {
  flex: 1;
  color: #fff;
  background: none;
  padding: 0px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: #f5d9a4;
  margin-bottom: 1px;
}

.salary {
  font-size: 35px;
  color: #f5d9a4;
  margin-bottom: 20px;
  font-weight: bold;
}

.responded-btn {
  background-color: #40553a;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 25px;
  margin-bottom: 20px;
}

.info {
  font-size: 17px;
  color: #ccc;
  margin-bottom: 15px;
  line-height: 1.5;
}

.date {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 25px;
}

.apply-btn {
  background-color: #b74c4c;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 14px 0;
  width: 350px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.apply-btn:hover {
  background-color: #c85c5c;
}

.right {
  flex: 1.5;
  background-color: #fff;
  color: #000;
  border-radius: 12px;
  padding: 30px;
  max-height: 600px;
  overflow: hidden;
}

.scroll-box {
  max-height: 540px;
  overflow-y: auto;
  padding-right: 10px;
}

.scroll-box::-webkit-scrollbar {
  width: 8px;
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.scroll-box h3 {
  color: #1e1e1e;
  font-size: 18px;
  margin-top: 20px;
}

.scroll-box p {
  color: #333;
  font-size: 15px;
  line-height: 1.6;
}

@media (max-width: 900px) {
  .vacancy-page {
    flex-direction: column;
    align-items: center;
  }

  .right, .left {
    width: 100%;
  }

  .right {
    max-height: none;
  }

  .apply-btn {
    width: 100%;
  }
}
